* {
    margin: 0;
    padding: 0;
    width: 375px;
}

body {
    background-color: hsl(0, 100%, 74%);
    color: white;
    font-family: 'Poppins', sans-serif;
    background-image: url(Copy\ of\ bg-intro-desktop.png);
}

main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.su {
    background-color: blue;
    font-size: 16px;
    padding: 5px;
    color: white;
    margin-top: 2px;
    border: 0;
    border-radius: 7px;
    position: absolute;
    padding-right: 7px;
    left: 27px;
    top: 220px;
    width: 250px;
}

div h1 {
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    left: 30px;
    top: 35px;
    
}

div p {
    font-family: 'Poppins', sans-serif bold;
    font-weight: 400;
    font-size: 13px;
    position: relative;
    text-align: center;
    right: 50px;
    top: -210px;
    /* padding: 10px; */

}

.loginbox {
    width: 250px;
    height: 310px;
    background-color: white;
    border-radius: 7px;
    top: 58%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.loginbox input {
    font-size: 10px;
    width: 50%;
    margin-top: 17px;
    position: relative;
    left: 32px;
    background: transparent;
    outline: none;
    height: 35px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 4px;
}

#submit {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin: 20px;
    margin-top: 5px;
    padding: 10px 15px;
    width: 50%;
    height: 5vh;
    position: relative;
    left: 13px;
    top: 10px;
    border: 0;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    color: white;
}

h6{
    color: rgb(36, 34, 32);
    padding: 10px 5px;
    padding-left: 38px;
    padding-top: 1px;
    font-size: 8px;
}

 h6 a{
     color: hsl(0, 100%, 74%);
    padding-left: 60px;
    
}